@media only screen and (min-width: 1919px) {
    .container-fluid {
        max-width: 1824px;
        margin: 0 auto;
    }

    .container {
        max-width: 1624px;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 1537px) {
    .container-fluid{max-width: calc(100% - 60px);}
    .custom-offcanvas.open{height: 500px;width:300px;}
    .hero, .banner{padding-top: 100px;}
    .tech_left h2{font-size:26px;line-height:30px;}
    .head_2 span{font-size:24px;}
    /*process*/
    .proced_1 .svg_wrapper {
        transform: translateX(-5%);
        scale: 1;
        
    }
    .proced_2 .svg_wrapper {transform: translateX(-11%);scale: 0.8;}
    .proced_3 .svg_wrapper{transform: translateX(-21%);}
    .proced_4 .svg_wrapper{transform: translateX(-20%);}
    /*process*/
    .ft_wrapper{ gap: 20px;}
    .ft_right{ gap: 40px;}
    .title_62{
        font-size:52px;
        line-height:62px;
    }
    
}
@media only screen and (max-width: 1441px) {
    .proced_2 .svg_wrapper {
        transform: translateX(-12%);
    }
    .tyre_img{display:none;}
}
@media only screen and (max-width: 1367px) {
    .title_62 {
        font-size: 45px;
        line-height: 52px;
    }
    .featured-projects-grid{grid-template-columns: repeat(3, 1fr);}
    .title_62 {
        font-size: 42px;
        line-height: 48px;
    }
    .title_48{
            font-size: 40px;
            line-height: 48px;
    }
    .tech_slider .slick-dots{bottom: -12%;}
    /*process*/
    .proced_box{height:100%;}
    .proced_1 .proced, .proced_3 .proced{align-items: normal;flex-direction: column;}
    .proced_content_1{position:relative;width:100%;padding:50px;top:0;right:0;}
    .proced_1 .svg_wrapper{transform: translateX(0%);}
    .proced_2 .proced, .proced_4 .proced{flex-direction: column;}
    .proced_content_2 {
        position: relative;
        width: 100%;
        padding: 50px;
        top:0;left:0;
    }
    .proced_2 .svg_wrapper {transform: translateX(0%);}
    
    /*process*/
    
}
@media only screen and (max-width: 1281px) {
    .proced_1{top: 10%;}
    .proced_2 {top: 11%;}
    .proced_3{top: 12%;}
    .proced_4{top: 10%;}
    .proced_content_1, .proced_content_2{padding: 20px 20px 0;}
    .proced .proced_pill{margin-bottom: 10px;}
    .proced .title_48{margin-bottom: 20px;}
    .proced_1 .proced, .proced_3 .proced, .proced_2 .proced, .proced_4 .proced {height:80vh;}
    /*.svg_wrapper{padding:0 20px;}*/
    .proced_1 .svg_wrapper svg{
        transform: translate(-22%, -21%);
        scale: 0.7;
    }
    .proced_2 .svg_wrapper svg{
        transform: translate(22%, -50%);
        scale: 0.7;
    }
    .proced_3 .svg_wrapper svg{
        transform: translate(22%, -50%);
        scale: 0.7;
    }
    .proced_4 .svg_wrapper svg{
        transform: translate(50%, -30%);
        scale: 0.7;
    }
    .ft_left{width:500px;}
    .ft_menu:first-child {
        flex-shrink: 0;
    }
    
}
@media only screen and (max-width: 1121px) {
    .mt-100 {
        margin-top: 50px;
    }
    .slick-dots {
        bottom: -7%;
    }
    .menu_btn{padding: 10px 10px;}
    .btn_0, .btn_1{padding: 15px 10px;}
    .core{padding-bottom:1px;}
}

@media only screen and (max-width: 992px) {
    .hero_slider_for .slick-dots {
        bottom: 0%;
    }
    .container-fluid{max-width: calc(100% - 30px);}
    body{font-size:14px;line-height:20px;}
    .navbar-brand img{width:50%;}
    .menu_main{padding: 0px;}
    .hero{padding-top: 70px;}
    .hero_left{position:relative;margin-bottom:20px;}
    .hero_slide_box hero_slide_box_1, .hero_slide_box hero_slide_box_2{display:none;}
    .hero_slider_nav{display:none;}
    /*core*/
    .mob_core_slider .slick-slide{margin-right:20px;}
    .core_wrapper {display:none;}
    .mob_core_wrapper {display:block;}
    .comp_bus_front{opacity:0;}
    .comp_bus_child {
    /*flex: 3;*/
    height: 500px;
    padding: 50px;
    border-radius: 10px;
    z-index: 10;
    background-color: var(--fob-yellow);
    }
    .comp_bus_child .comp_bus_num {
    color: #111;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 44px;
    }
    .comp_bus_back {
        opacity: 1;
    }
    .comp_bus_child::before {
        left: 100%;
    }
    .stats_box{
        padding: 20px 30px;
        min-width: 210px;}
    /*core*/
    .tech_wrapper{padding-bottom: 10px;}
    .stats_wrapper{flex-wrap:wrap;}
    .info .container{position:relative;}
    .slick-dots {bottom: -14%;}
    .step_wrapper{flex-direction:column;}
    .step_arrow {rotate: 90deg;}
    .featured-projects-grid {grid-template-columns: repeat(2, 1fr);}
    .contact_btn{display:none;}
    .ct_form,  .ft_right{margin-top:30px;}
    .form-floating{margin-bottom:20px;}
    .contact_head{align-items: flex-start;}
    .contact_head, .ft_wrapper{flex-direction:column;}
    .ft_left{width:100%;}
    .ft_right{justify-content: space-between;}
    .ym_cpy.ym_desk{display:none;}
    .ym_cpy.ym_mob{display:flex;}
    .proced_1 .proced, .proced_3 .proced, .proced_2 .proced, .proced_4 .proced {height: 72vh;}
}
    
@media only screen and (max-width: 769px) {
    
    .ct_box {padding: 25px;flex-direction: row;}
    
    .email_box a:nth-child(1), .email_box a:nth-child(2){border-right:none;  }
    
    .WhatsAppButton:hover {transform: translate(120px, 0) !important; }

    .title_36 {font-size: 28px;line-height: 36px;}

    .sheikh-zayed-mosque{scale: 1.5;}
    .f-16{scale:1.5;}
     ul, ol{padding-left:1rem;}
    .navbar-brand img {width: 100%;}
    .mob_step_wrapper{display:block;}
    .step_wrapper{display:none;}
    .step{margin-inline:auto;}
    .ethics_wrapper{flex-direction:column;}
    .ethic_1{width:100%;}
    .title_48{margin-bottom:25px;}
    
    .comp_bus_child {background: linear-gradient(0deg, rgb(195, 46, 45) -0.02%, rgb(221, 171, 40) 99.98%), rgb(194, 37, 35);}
    .inds_slide{width:100%; }
    .serv_app_slider_multi .slick-slide{margin-inline: 10px;}
    .slick-dots{bottom: -14%;}
    /*.float-buttons {top:90% !important;}*/
    .comp_bus_back {padding:25px;}
    .info .container-fluid {padding-top: 0;}
    .stats_wrapper {margin-top: 25px;}
    .inds_slider_wrapper {margin-top: 40px;padding-bottom: 10px;}
    .partner {padding: 50px 0;}
    .partner_slider {margin-top: 40px;}
    .tech_wrapper {margin-top: 50px;}
    .tech_slider .slick-slide {margin-right: 30px;}
    .life_inside {
    padding: 0;
    border: none;
    margin-top: 20px;}
    
    .life_inside p{font-size: 20px;line-height: 28px;}
    .mt-50{margin-top:20px;}
    
    .job_box {padding: 30px 25px;}
    
    .cc_box {padding: 40px 25px;}
    
    .ct_form_wraper {padding: 20px 5px;border-radius: 0;}
    .ct_box_wrapper {display: block;}
    .map {margin-top: 20px;}
    .form-check {margin-top: 20px;}
    .para_36 {font-size: 20px;line-height: 34px;}
    
    .service_wrapper { border: none; padding:0;}
    .bl { border-left: none;padding-left: 12px;}
    .serv_cta {padding: 30px 10px;}
    
    .serv_cta_ctnt {
     border-left: none; 
     padding-left: 0; 
     margin-top: 20px;
}
   
  .how_4 {
    display: grid;
    gap: 20px;
    grid-template-areas:
        "a"
        "b"
        "c"
        "d"
        ;
    margin: 30px 0;
}
.title_24{font-size: 20px;line-height: 28px;}

.expect_slide{ margin-right: 0;margin-inline: 10px;}

.serv_img_slider .slick-slide {
     margin-right: 0;
     transform: translateX(0); 
     margin-inline: 10px;
}

 .how_5 {
    grid-template-areas:
      "a"
      "b"
      "c"
      "d"
      "e";
    grid-template-columns: 1fr;
  }
  
  .expect_slide {
    padding: 35px 35px; }
  
.how_3 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 30px 0;
}

.expect_slider .slick-dots{bottom: -17%;}

.service_how .comp_bus_ext {color: #333;}

.serv_img_slider .slick-dots { bottom: -6%;}

.expect_wrapper{padding-bottom:2px;}

.proced_slider {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.proced_1 .svg_wrapper svg{
       transform: translate(25%, 25%);
        scale: 2;
        width: 100%;
        height: 100%;
    }
    .proced_2 .svg_wrapper svg{
       transform: translate(-26%, 17%);
        scale: 2;
        width: 100%;
        height: 100%;
    }
    .proced_3 .svg_wrapper svg{
        transform: translate(21%, 20%);
        scale: 1.8;
        width: 100%;
        height: 100%;
    }
    .proced_4 .svg_wrapper svg{
       transform: translate(-6%, 20%);
        scale: 1.6;
        width: 100%;
        height: 100%;
    }
    
.team_wrapper {grid-template-columns: repeat(1, 1fr);column-gap: 0; row-gap: 30px;}
.core_slide{margin-left:0;margin-right:0px;}
.hero_slider_for::after{content:'';position:absolute; background-color:transparent;height:80px;width:100%;left:0;top:0;z-index:2;}
.hero_slider_for::before{content:'';position:absolute; background-color:transparent;height:100%;width:80px;right:0;top:0;z-index:2;}
.left-bar {content: '';position: absolute;background-color: transparent;height: 100%;width: 80px;left: 0;top: 0;z-index: 2;}

.mob_step_slider .slick-dots{bottom: -5%;}
.step_content{margin-top: 0px;margin-bottom: 20px;}
.tech_des{padding: 20px 20px;}
.hero_slide {padding-bottom: 90px;}
}

@media only screen and (max-width: 476px) {
    .hero_slide {padding-bottom: 0px;}
    .sheikh-zayed-mosque{scale: 1.1;}
    .f-16{scale:1.2;}
    .info .container-fluid{padding-top: 50px;}
    .head_social_wrapper{display:none!important;}
    .tech{margin-top:30px;}
    .tech_slider .slick-slide{margin-inline:10px;}
    .testi_slide{margin-inline:10px;}
    .featured-projects-grid {grid-template-columns: repeat(1, 1fr);}
    .ft_top img{width:25%;}
    .ft_top{gap:20px;}
    .ft_wrapper{padding-top: 50px;margin-top: 50px;}
    .ft_right {gap: 5px;}
    .ym_cpy{margin-top: 15px;}
    /*contact*/
    .stats_wrapper, .ft_wrapper, .ft_top, .ft_right{flex-direction:column;}
    /*contact*/
    .ethic_1{padding:20px;}
    .title_48 {margin-bottom: 15px;}
    .hero_btn {margin-top: 25px;}
    .mob_core_slider .slick-slide {margin-right: 0;padding:0 5px;}
    .mob_core_wrapper .slick-dots {bottom: -9%;}
    .core {margin-top: 0px;}
    .info .container-fluid {padding-top: 0px;}
    .container-fluid {max-width: calc(100% - 2px);}
    .inds_slider_wrapper {margin-top: 20px;}
    .inds_slider .slick-slide {margin-right: 0;padding: 0 10px;}
    .partner {padding-top:25px;padding-bottom: 0;}
    .tech_head {margin-bottom: 25px;}
    .tech_wrapper {margin-top: 0;}
    .mob_step_wrapper {margin-top: 25px;}
    .step_content {margin-top: 0px;}
    .mob_step_slider .slick-dots {bottom: -9%;}
    .steps{padding-bottom: 5px;}
    .testimonial{padding: 40px 0;}
    .testi_wrapper {margin-top: 25px;}
    .testi_slide{ padding: 50px 30px;}
    .map_wrapper {margin: 25px 0;}
    .ct_form {padding: 25px;}
    .ct_form .form-check {margin-bottom: 30px;}
    .head_2 span {font-size: 16px;}
    .comp_bus_child .comp_bus_num{color:#fff;}
    .project .nav {gap: 5px;}
    .banner_para {margin-top: 20px;margin-bottom: 30px;}
    .pc_banner_wrapper {margin-top:25px;}
    .arrow_2 {height: 40px;width: 40px;}
    .project .nav-pills {flex-wrap: nowrap;}
    .tech_des {padding: 20px 20px;}
    .slick-next{right:0;z-index: 9;}
    .slick-prev{left:0;z-index: 9;}
    .slick-next:before, .slick-prev:before{color:#005762;}
    
}